- name: install haproxy
  apt: package={{ item }} state=installed update_cache=yes
  with_items:
    - haproxy

- name: copy config file
  template: src=haproxy.cfg.j2 dest=/etc/haproxy/haproxy.cfg

- name: Ensures haproxy certs dir exists
  file: path=/etc/haproxy/certs state=directory

- name: install ssl certificate and private key
  copy: src={{ item }} dest=/etc/haproxy/certs/{{ item }}
  with_items:
    - "{{ caliopen_domain_name }}.crt"
    - "{{ caliopen_domain_name }}.key"

- name: create pem file
  shell: cat {{ caliopen_domain_name }}.crt {{ caliopen_domain_name }}.key >> beta-certs.pem
  args:
    chdir: /etc/haproxy/certs
    creates: beta-certs.pem

- name: restart haproxy service
  service:
    name: haproxy
    state: restarted
