global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

	# Default SSL material locations
	ca-base /etc/ssl/certs
	crt-base /etc/ssl/private

	# Default ciphers to use on SSL-enabled listening sockets.
	# For more information, see ciphers(1SSL). This list is from:
	#  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
	ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
	ssl-default-bind-options no-sslv3
	tune.ssl.default-dh-param 2048

defaults
	log	global
    timeout connect 5s
    timeout client  30s
    timeout server  30s
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http

# hashed pass
userlist admins
	user {{ kube_api_auth }} insecure-password "{{ kube_api_pass }}"

frontend api
    mode http
    bind *:8080 ssl crt /etc/haproxy/certs/alpha-certs.pem
    acl auth http_auth(admins)
    http-request allow if auth
    http-request deny
    default_backend kubeapi

backend kubeapi
    mode http
    server master {{ master_private_ip }}:8080

frontend http
	mode http
	bind *:80
	#Redirect HTTP traffic to HTTPS
    http-request redirect scheme https code 301 if !{ ssl_fc }

frontend caliopen
	bind *:443 ssl crt /etc/haproxy/certs/alpha-certs.pem
	mode tcp
	tcp-request inspect-delay 5s
  	tcp-request content accept if { req_ssl_hello_type 1 }

 	acl frontend ssl_fc_sni -i k8s-client.{{ caliopen_domain_name }}
    acl api ssl_fc_sni -i k8s-api.{{ caliopen_domain_name }}
    acl dashboard ssl_fc_sni -i k8s-dash.{{ caliopen_domain_name }}
    acl drone-server ssl_fc_sni -i k8s-drone.{{ caliopen_domain_name }}

  	use_backend api_back if api
  	use_backend frontend_back if frontend
  	use_backend dashboard_back if dashboard
  	use_backend drone_back if drone-server

	default_backend notfound_back

backend frontend_back
	mode http
	balance roundrobin
	option httpchk GET /healthz HTTP/1.1\r\nHost:\ _
	http-check expect status 200
	http-request set-header Host alpha.caliopen.org

    server master {{ master_private_ip }}:30080 check port 30880 send-proxy
    server node0  {{ node0_private_ip }}:30080 check port 30880 send-proxy
    server node1  {{ node1_private_ip }}:30080 check port 30880 send-proxy
    server node2  {{ node2_private_ip }}:30080 check port 30880 send-proxy

backend api_back
	mode http
	balance roundrobin
	option httpchk GET /healthz HTTP/1.1\r\nHost:\ _
	http-check expect status 200
  	http-request set-header Host api.caliopen.org

    server master {{ master_private_ip }}:30080 check port 30880 send-proxy
    server node0  {{ node0_private_ip }}:30080 check port 30880 send-proxy
    server node1  {{ node1_private_ip }}:30080 check port 30880 send-proxy
    server node2  {{ node2_private_ip }}:30080 check port 30880 send-proxy

backend dashboard_back
	mode http
	balance roundrobin
	option httpchk GET /healthz HTTP/1.1\r\nHost:\ _
	http-check expect status 200
  	http-request set-header Host dashboard.caliopen.org

    server master {{ master_private_ip }}:30080 check port 30880 send-proxy
    server node0  {{ node0_private_ip }}:30080 check port 30880 send-proxy
    server node1  {{ node1_private_ip }}:30080 check port 30880 send-proxy
    server node2  {{ node2_private_ip }}:30080 check port 30880 send-proxy

backend drone_back
	mode http
	balance roundrobin
	option httpchk GET /healthz HTTP/1.1\r\nHost:\ _
	http-check expect status 200
  	http-request set-header Host drone.caliopen.org

    server master {{ master_private_ip }}:30080 check port 30880 send-proxy
    server node0  {{ node0_private_ip }}:30080 check port 30880 send-proxy
    server node1  {{ node1_private_ip }}:30080 check port 30880 send-proxy
    server node2  {{ node2_private_ip }}:30080 check port 30880 send-proxy

backend notfound_back
	mode http
	balance roundrobin
	option httpchk GET /healthz HTTP/1.1
	http-check expect status 200

    server master {{ master_private_ip }}:30404 check
    server node0  {{ node0_private_ip }}:30404 check
    server node1  {{ node1_private_ip }}:30404 check
    server node2  {{ node2_private_ip }}:30404 check