[Unit]
Description=node exporter service

[Service]
Restart=always
ExecStart=/usr/local/sbin/node_exporter --web.listen-address {{ hostvars['lb1']['private_ips'][0] }}:9100
ExecStop=pkill node_exporter 

[Install]
WantedBy=local.target
